extends base.pug

block content 
   h4 Update Video
   form(method="POST")
      input(name="title",placeholder="Video title",value=video.title,required)
      input(name="description",placeholder="Description", required, minlength=20 type="text", value=video.description)
      input(name="hashtags",placeholder="Hashtags, seperated by comma.", required, type= "text" value=video.hashtags.join())  
      input(value="save",type="submit")